#auth_page{
    position: absolute;
    top: 18%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

/* form styles ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:15%; 
  }
.auth_input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #dc35457d;
    text-align: center;
  }
  .auth_input:focus{
     outline:none; 
     border-color: transparent;
    }
  
  /*bottom bar --------------------------*/
  .bar 	{ position:relative; display:block; width:100%; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    position:absolute;
    background:#dc3545; 
    transition:0.3s ease all; 
    -moz-transition:0.3s ease all; 
    -webkit-transition:0.3s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  .auth_input:focus ~ .bar:before, .auth_input:focus ~ .bar:after {
    width:50%;
  }